@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(161, 100, 223);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}
.btn {
  background-color: rgba(72, 5, 92, 0.671);
  border: none;
  font-size: 1.2rem;
  font-family: inherit;
  border-radius: 10px;
  padding: 1.5rem 3rem;
  color: #fff;
  margin: 1rem;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  opacity: 0.9;
}
